In [12]:
import pandas as pd
import numpy as np

In [13]:
def answer_eight():
    parttwo_df = pd.read_csv('census.csv')
    helper = ['REGION','POPESTIMATE2015','POPESTIMATE2014']
    my_columns = ['STNAME', 'CTYNAME', 'SUMLEV'] + helper

    question8_df = parttwo_df[my_columns]
    question8_df = question8_df.where(question8_df['SUMLEV'] == 50)
    question8_df = question8_df.dropna()
    state_list = question8_df['STNAME'].unique()
    county_list = question8_df['CTYNAME']

    new_q8_df = question8_df.copy()
    new_q8_df.set_index('CTYNAME', inplace = True)

    filter_df = question8_df[(question8_df['CTYNAME'].str.startswith('Wash')) & (question8_df['POPESTIMATE2015'] > question8_df['POPESTIMATE2014']) & (question8_df['REGION'].isin([1,2]))]
    answer = pd.DataFrame(filter_df[['CTYNAME','STNAME']].head())
    return answer
answer_eight()

                CTYNAME        STNAME
896   Washington County          Iowa
1334   Washtenaw County      Michigan
1419  Washington County     Minnesota
2345  Washington County  Pennsylvania
2355  Washington County  Rhode Island

In [14]:
parttwo_df = pd.read_csv('census.csv')
helper = ['REGION','POPESTIMATE2015','POPESTIMATE2014']
my_columns = ['STNAME', 'CTYNAME', 'SUMLEV'] + helper

In [22]:
q8 = parttwo_df[my_columns]
q8 = q8.where(q8['SUMLEV'] == 50).dropna()
q8 = q8.where(q8['POPESTIMATE2015'] > q8['POPESTIMATE2014']).dropna()
q8 = q8.where(q8['REGION'].isin([1,2])).dropna()
q8.head()
q8.count()

STNAME             493
CTYNAME            493
SUMLEV             493
REGION             493
POPESTIMATE2015    493
POPESTIMATE2014    493
dtype: int64

In [24]:
q8 = q8.where(q8['CTYNAME'] == 'Washington County').dropna()
q8.head()

,STNAME,CTYNAME,SUMLEV,REGION,POPESTIMATE2015,POPESTIMATE2014
896,Iowa,Washington County,50.0,2.0,22247.0,22087.0
1419,Minnesota,Washington County,50.0,2.0,251597.0,249320.0
2345,Pennsylvania,Washington County,50.0,1.0,208261.0,208175.0
2355,Rhode Island,Washington County,50.0,1.0,126517.0,126430.0
3163,Wisconsin,Washington County,50.0,2.0,133674.0,133301.0

In [26]:
answer = q8[['CTYNAME','STNAME']]
answer.head()

                CTYNAME        STNAME
896   Washington County          Iowa
1419  Washington County     Minnesota
2345  Washington County  Pennsylvania
2355  Washington County  Rhode Island
3163  Washington County     Wisconsin